$primary-color: #f7be00b0;
$secondary-color: #e10000cf;
$dark-color: #252525;

body{
    box-sizing: border-box;
    color: white;
}

@mixin boldText(){
    font-family: 'Permanent Marker', cursive;
    color: $dark-color;
}
@mixin normalText(){
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 100;
    color: $dark-color;
}

body{
    @include normalText();
    ul{
        margin: 0px;
        padding: 0px;
    }
    li{
        list-style: none;
    }
}

.todo {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 1000px;
    h1{
        @include boldText();
        font-weight: 1000;
        font-size: 3em;
    }
    p{
        @include normalText();
    }
}

.header {
    text-align: center;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

h3{
    font-family: inherit;
    font-size: 100%;
    font-weight: 100;
}

button{
    font-family: inherit;
}

.task-ul li{
    padding: 10px 0px;
}

.completed-task-ul{
    text-decoration: line-through;
    opacity: 65%;
}

.todo-box{
    text-align: center;
}
